\documentclass[sigconf]{acmart}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{amsmath,amssymb}
\usepackage{graphicx}

\begin{document}

\title{\VAR{title | e}}

%% for author in authors
\author{\VAR{author.name | e}}
%% if author.department or author.organization or author.city or author.country
\affiliation{%
%% if author.department
  \department{\VAR{author.department | e}}
%% endif
%% if author.organization
  \institution{\VAR{author.organization | e}}
%% endif
%% if author.city
  \city{\VAR{author.city | e}}
%% endif
%% if author.country
  \country{\VAR{author.country | e}}
%% endif
}
%% endif
%% if author.email
\email{\VAR{author.email | e}}
%% endif
%% endfor

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
\end{abstract}
%% endif

%% if keywords
\keywords{\VAR{keywords | join(', ') | e}}
%% endif

\maketitle

%% for section in sections
\section{\VAR{section.heading | e}}
\VAR{section.body | paras}

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{99}
%% for ref in references
\bibitem{ref\VAR{ref.index}}
\VAR{ref.text | e}

%% endfor
\end{thebibliography}
%% endif

\end{document}
