\documentclass[preprint,12pt]{elsarticle}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{amsmath,amssymb}
\usepackage{graphicx}
\usepackage[export]{adjustbox}
\usepackage{booktabs}
\usepackage{multirow}
\usepackage{array}
\usepackage{tabularx}
\usepackage{url}
\usepackage{hyperref}
\usepackage{lineno}

\journal{Journal Name}

\begin{document}

\begin{frontmatter}

\title{\VAR{title | e}}

%% for author in authors
%% if author.email
\author{\VAR{author.name | e}\fnref{fn\VAR{loop.index}}}
%% else
\author{\VAR{author.name | e}}
%% endif
%% if author.department or author.organization or author.city
\address{\VAR{[author.department, author.organization, author.city, author.country] | select | map('e') | join(', ')}}
%% endif
%% if author.email
\fntext[fn\VAR{loop.index}]{\VAR{author.email | e}}
%% endif
%% endfor

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
\end{abstract}
%% endif

%% if keywords
\begin{keyword}
\VAR{keywords | map('e') | join(' \\sep ')}
\end{keyword}
%% endif

\end{frontmatter}

%% for section in sections
\VAR{section.depth | section_cmd}{\VAR{section.heading | e}}

%% for block in section.content_blocks
%% if block.type == "text"
\VAR{block.content}

%% elif block.type == "raw_latex"
\VAR{block.content}

%% elif block.type == "equation"
%% if block.latex
\begin{equation}
\VAR{block.latex}
\end{equation}
%% elif block.image_path
\begin{equation}
\vcenter{\hbox{\includegraphics[max width=0.85\columnwidth, max height=4cm]{\VAR{block.image_path}}}}
\end{equation}
%% endif
%% endif
%% endfor

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% for figure in section.figures
\begin{figure}[htbp]
\centering
\includegraphics[max width=\columnwidth, max height=0.4\textheight]{\VAR{figure.image_path}}
%% if figure.caption
\caption{\VAR{figure.caption | e}}
%% endif
%% if figure.label
\label{\VAR{figure.label}}
%% endif
\end{figure}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{99}
%% for ref in references
\bibitem{ref\VAR{ref.index}}
\VAR{ref.text | e}

%% endfor
\end{thebibliography}
%% endif

\end{document}
