\documentclass[preprint,12pt]{elsarticle}
\usepackage[utf8]{inputenc}
\usepackage{amsmath,amssymb}
\usepackage{graphicx}
\usepackage{booktabs}
\journal{Elsevier}
\begin{document}

\begin{frontmatter}
\title{\VAR{title | e}}

%% for author in authors
\author{\VAR{author.name | e}%
%% if author.email
\corref{cor\VAR{loop.index}}%
%% endif
}
%% if author.email
\cortext[cor\VAR{loop.index}]{Corresponding author. Email: \VAR{author.email | e}}
%% endif
%% if author.organization
\address{\VAR{author.organization | e}%
%% if author.city
, \VAR{author.city | e}%
%% endif
}
%% endif
%% endfor

\begin{abstract}
\VAR{abstract | e}
\end{abstract}

%% if keywords
\begin{keyword}
\VAR{keywords | map("e") | join(" \\sep ")}
\end{keyword}
%% endif

\end{frontmatter}

%% for section in sections
\section{\VAR{section.heading | e}}
\VAR{section.body | paras}

%% for table in section.tables
\begin{table}[htbp]
\caption{\VAR{table.caption | e}}
\begin{tabular}{\VAR{"l" + "r" * ([table.headers | length - 1, 0] | max)}}
\toprule
%% if table.headers
\VAR{table.headers | map("e") | join(" & ")} \\\midrule
%% endif
%% for row in table.rows
\VAR{row | map("e") | join(" & ")} \\
%% endfor
\bottomrule
\end{tabular}
\end{table}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{00}
%% for ref in references
\bibitem{b\VAR{ref.index}} \VAR{ref.text | e}
%% endfor
\end{thebibliography}
%% endif

\end{document}
