\documentclass[preprint,12pt]{elsarticle}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{amsmath,amssymb}
\usepackage{graphicx}
\usepackage{hyperref}
\usepackage{lineno}

\journal{Journal Name}

\begin{document}

\begin{frontmatter}

\title{\VAR{title | e}}

%% for author in authors
\author{\VAR{author.name | e}%% if author.email %}\fnref{fn\VAR{loop.index}}%% endif %}
%% if author.department or author.organization or author.city
\address{%% if author.department %}\VAR{author.department | e}, %% endif %}\VAR{author.organization | e}%% if author.city %}, \VAR{author.city | e}%% endif %}%% if author.country %}, \VAR{author.country | e}%% endif %}}
%% endif
%% if author.email
\fntext[fn\VAR{loop.index}]{\VAR{author.email | e}}
%% endif
%% endfor

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
\end{abstract}
%% endif

%% if keywords
\begin{keyword}
\VAR{keywords | join(' \sep ') | e}
\end{keyword}
%% endif

\end{frontmatter}

%% for section in sections
\section{\VAR{section.heading | e}}
\VAR{section.body | paras}

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{99}
%% for ref in references
\bibitem{ref\VAR{ref.index}}
\VAR{ref.text | e}

%% endfor
\end{thebibliography}
%% endif

\end{document}
