\documentclass[peerreview]{IEEEtran}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{amsmath,amssymb}
\usepackage{graphicx}
\usepackage{booktabs}
\usepackage{float}
\begin{document}

\title{\VAR{title | e}}
\author{%
%% for author in authors
\VAR{author.name | e}%
%% if author.organization
\thanks{\VAR{author.organization | e}%
%% if author.email
. E-mail: \VAR{author.email | e}%
%% endif
}%
%% endif
%% if not loop.last
\and %
%% endif
%% endfor
}
\maketitle

\begin{abstract}
\VAR{abstract | e}
\end{abstract}

%% if keywords
\begin{IEEEkeywords}
\VAR{keywords | map("e") | join("; ")}
\end{IEEEkeywords}
%% endif

%% for section in sections
\section{\VAR{section.heading | e}}
\VAR{section.body | paras}

%% for table in section.tables
\begin{table}[htbp]
\caption{\VAR{table.caption | e}}
\centering\resizebox{\columnwidth}{!}{%
%% if table.headers
\begin{tabular}{l\VAR{"r" * ([table.headers | length - 1, 0] | max)}}
\toprule
\VAR{table.headers | map("e") | join(" & ")} \\\midrule
%% for row in table.rows
\VAR{row | map("e") | join(" & ")} \\
%% endfor
\bottomrule
\end{tabular}
%% else
\begin{tabular}{l}
%% for row in table.rows
\VAR{row | map("e") | join(" & ")} \\
%% endfor
\end{tabular}
%% endif
}
\end{table}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{00}
%% for ref in references
\bibitem{b\VAR{ref.index}} \VAR{ref.text | e}
%% endfor
\end{thebibliography}
%% endif

\end{document}
