\documentclass{llncs}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{amsmath,amssymb}
\usepackage{graphicx}
\usepackage{hyperref}

\begin{document}

\title{\VAR{title | e}}

%% if authors
\author{
%% for author in authors
  \VAR{author.name | e}
%% if not loop.last
  \and
%% endif
%% endfor
}
\institute{
%% for author in authors
%% if author.department or author.organization or author.city or author.email
%% if author.department
  \VAR{author.department | e}\\
%% endif
%% if author.organization
  \VAR{author.organization | e}\\
%% endif
%% if author.city
  \VAR{author.city | e}\\
%% endif
%% if author.email
  \email{\VAR{author.email | e}}
%% endif
%% if not loop.last
  \and
%% endif
%% endif
%% endfor
}
%% endif

\maketitle

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
%% if keywords
\keywords{\VAR{keywords | join(' \\and ') | e}}
%% endif
\end{abstract}
%% endif

%% for section in sections
\section{\VAR{section.heading | e}}
\VAR{section.body | paras}

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{99}
%% for ref in references
\bibitem{ref\VAR{ref.index}} \VAR{ref.text | e}
%% endfor
\end{thebibliography}
%% endif

\end{document}
