\documentclass{llncs}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{amsmath,amssymb}
\usepackage{graphicx}
\usepackage[export]{adjustbox}
\usepackage{hyperref}

\begin{document}

\title{\VAR{title | e}}

%% if authors
\author{
%% for author in authors
  \VAR{author.name | e}
%% if not loop.last
  \and
%% endif
%% endfor
}
\institute{
%% for author in authors
%% if author.department or author.organization or author.city or author.email
%% if author.department
  \VAR{author.department | e}\\
%% endif
%% if author.organization
  \VAR{author.organization | e}\\
%% endif
%% if author.city
  \VAR{author.city | e}\\
%% endif
%% if author.email
  \email{\VAR{author.email | e}}
%% endif
%% if not loop.last
  \and
%% endif
%% endif
%% endfor
}
%% endif

\maketitle

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
%% if keywords
\keywords{\VAR{keywords | map('e') | join(' \\and ')}}
%% endif
\end{abstract}
%% endif

%% for section in sections
\VAR{section.depth | section_cmd}{\VAR{section.heading | e}}
\VAR{section.body | paras}

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% for figure in section.figures
\begin{figure}[htbp]
\centering
\includegraphics[width=\columnwidth]{\VAR{figure.image_path}}
%% if figure.caption
\caption{\VAR{figure.caption | e}}
%% endif
%% if figure.label
\label{\VAR{figure.label}}
%% endif
\end{figure}
%% endfor

%% for fb in section.formula_blocks
%% if fb.latex
\begin{equation}
\label{\VAR{fb.label}}
\VAR{fb.latex}
\end{equation}
%% elif fb.image_path
\begin{center}
\includegraphics[max width=0.45\columnwidth, max height=1.5cm]{\VAR{fb.image_path}}
\end{center}
%% endif
%% endfor

%% endfor

%% if references
\begin{thebibliography}{99}
%% for ref in references
\bibitem{ref\VAR{ref.index}} \VAR{ref.text | e}
%% endfor
\end{thebibliography}
%% endif

%% if formula_blocks
\section*{Key Equations}
%% for fb in formula_blocks
%% if fb.latex
\begin{equation}
\label{\VAR{fb.label}}
\VAR{fb.latex}
\end{equation}
%% elif fb.image_path
\begin{center}
\includegraphics[max width=0.45\columnwidth, max height=1.5cm]{\VAR{fb.image_path}}
\end{center}
%% endif
%% endfor
%% endif

\end{document}
