\documentclass{llncs}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{amsmath,amssymb}
\usepackage{graphicx}
\usepackage[export]{adjustbox}
\usepackage{booktabs}
\usepackage{multirow}
\usepackage{array}
\usepackage{tabularx}
\usepackage{url}
\usepackage{hyperref}

\begin{document}

\title{\VAR{title | e}}

%% if authors
\author{
%% for author in authors
  \VAR{author.name | e}
%% if not loop.last
  \and
%% endif
%% endfor
}
\institute{
%% for author in authors
%% if author.department or author.organization or author.city or author.email
%% if author.department
  \VAR{author.department | e}\\
%% endif
%% if author.organization
  \VAR{author.organization | e}\\
%% endif
%% if author.city
  \VAR{author.city | e}\\
%% endif
%% if author.email
  \email{\VAR{author.email | e}}
%% endif
%% if not loop.last
  \and
%% endif
%% endif
%% endfor
}
%% endif

\maketitle

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
%% if keywords
\keywords{\VAR{keywords | map('e') | join(' \\and ')}}
%% endif
\end{abstract}
%% endif

%% for section in sections
\VAR{section.depth | section_cmd}{\VAR{section.heading | e}}

%% for block in section.content_blocks
%% if block.type == "text"
\VAR{block.content}

%% elif block.type == "raw_latex"
\VAR{block.content}

%% elif block.type == "equation"
%% if block.latex
\begin{equation}
\VAR{block.latex}
\end{equation}
%% elif block.image_path
\begin{equation}
\vcenter{\hbox{\includegraphics[max width=0.85\columnwidth, max height=4cm]{\VAR{block.image_path}}}}
\end{equation}
%% endif
%% endif
%% endfor

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% for figure in section.figures
\begin{figure}[htbp]
\centering
\includegraphics[max width=\columnwidth, max height=0.4\textheight]{\VAR{figure.image_path}}
%% if figure.caption
\caption{\VAR{figure.caption | e}}
%% endif
%% if figure.label
\label{\VAR{figure.label}}
%% endif
\end{figure}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{99}
%% for ref in references
\bibitem{ref\VAR{ref.index}} \VAR{ref.text | e}
%% endfor
\end{thebibliography}
%% endif

\end{document}
