\documentclass[11pt,a4paper]{article}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage[margin=1in]{geometry}
\usepackage{amsmath,amssymb,amsfonts}
\usepackage{graphicx}
\usepackage[export]{adjustbox}
\usepackage{booktabs}
\usepackage{multirow}
\usepackage{array}
\usepackage{tabularx}
\usepackage{url}
\usepackage{hyperref}
\usepackage[expansion=false]{microtype}

\title{\VAR{title | e}}

\author{
%% for author in authors
  \VAR{author.name | e}
%% if author.department
  \\ {\small \VAR{author.department | e}}
%% endif
%% if author.organization
  \\ {\small \VAR{author.organization | e}}
%% endif
%% if author.email
  \\ {\small \texttt{\VAR{author.email | e}}}
%% endif
%% if not loop.last
  \and
%% endif
%% endfor
}

\date{}

\begin{document}

\maketitle

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
\end{abstract}
%% endif

%% if keywords
\noindent\textbf{Keywords:} \VAR{keywords | join(', ') | e}
\vspace{1em}
%% endif

%% for section in sections
\VAR{section.depth | section_cmd}{\VAR{section.heading | e}}

%% for block in section.content_blocks
%% if block.type == "text"
\VAR{block.content}

%% elif block.type == "raw_latex"
\VAR{block.content}

%% elif block.type == "equation"
%% if block.latex
\begin{equation}
\VAR{block.latex}
\end{equation}
%% elif block.image_path
\begin{equation}
\vcenter{\hbox{\includegraphics[max width=0.85\columnwidth, max height=4cm]{\VAR{block.image_path}}}}
\end{equation}
%% endif
%% endif
%% endfor

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% for figure in section.figures
\begin{figure}[htbp]
\centering
\includegraphics[max width=\columnwidth, max height=0.4\textheight]{\VAR{figure.image_path}}
%% if figure.caption
\caption{\VAR{figure.caption | e}}
%% endif
%% if figure.label
\label{\VAR{figure.label}}
%% endif
\end{figure}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{99}
%% for ref in references
\bibitem{ref\VAR{ref.index}} \VAR{ref.text | e}
%% endfor
\end{thebibliography}
%% endif

\end{document}
