\documentclass[11pt,a4paper]{article}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage[margin=1in]{geometry}
\usepackage{amsmath,amssymb,amsfonts}
\usepackage{graphicx}
\usepackage{hyperref}
\usepackage[expansion=false]{microtype}

\title{\VAR{title | e}}

\author{
%% for author in authors
  \VAR{author.name | e}
%% if author.department
  \\ {\small \VAR{author.department | e}}
%% endif
%% if author.organization
  \\ {\small \VAR{author.organization | e}}
%% endif
%% if author.email
  \\ {\small \texttt{\VAR{author.email | e}}}
%% endif
%% if not loop.last
  \and
%% endif
%% endfor
}

\date{}

\begin{document}

\maketitle

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
\end{abstract}
%% endif

%% if keywords
\noindent\textbf{Keywords:} \VAR{keywords | join(', ') | e}
\vspace{1em}
%% endif

%% for section in sections
\VAR{section.depth | section_cmd}{\VAR{section.heading | e}}
\VAR{section.body | paras}

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% for figure in section.figures
\begin{figure}[htbp]
\centering
\includegraphics[width=\columnwidth]{\VAR{figure.image_path}}
%% if figure.caption
\caption{\VAR{figure.caption | e}}
%% endif
%% if figure.label
\label{\VAR{figure.label}}
%% endif
\end{figure}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{99}
%% for ref in references
\bibitem{ref\VAR{ref.index}} \VAR{ref.text | e}
%% endfor
\end{thebibliography}
%% endif

\end{document}
