\documentclass[11pt,a4paper]{article}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage[margin=1in]{geometry}
\usepackage{amsmath,amssymb,amsfonts}
\usepackage{graphicx}
\usepackage{hyperref}
\usepackage{microtype}

\title{\VAR{title | e}}

\author{
%% for author in authors
  \VAR{author.name | e}
%% if author.department
  \\ {\small \VAR{author.department | e}}
%% endif
%% if author.organization
  \\ {\small \VAR{author.organization | e}}
%% endif
%% if author.email
  \\ {\small \texttt{\VAR{author.email | e}}}
%% endif
%% if not loop.last
  \and
%% endif
%% endfor
}

\date{}

\begin{document}

\maketitle

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
\end{abstract}
%% endif

%% if keywords
\noindent\textbf{Keywords:} \VAR{keywords | join(', ') | e}
\vspace{1em}
%% endif

%% for section in sections
\section{\VAR{section.heading | e}}
\VAR{section.body | paras}

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{99}
%% for ref in references
\bibitem{ref\VAR{ref.index}} \VAR{ref.text | e}
%% endfor
\end{thebibliography}
%% endif

\end{document}
