\documentclass[conference]{IEEEtran}
\IEEEoverridecommandlockouts
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{cite}
\usepackage{amsmath,amssymb,amsfonts}
\usepackage{algorithmic}
\usepackage{graphicx}
\usepackage{textcomp}
\usepackage{xcolor}
\usepackage{float}
\usepackage{booktabs}
\begin{document}

\title{\VAR{title | e}}

%% if authors
\author{
%% for author in authors
\IEEEauthorblockN{\VAR{author.name | e}}
\IEEEauthorblockA{%
%% if author.department
\textit{\VAR{author.department | e}} \\
%% endif
%% if author.organization
\textit{\VAR{author.organization | e}} \\
%% endif
%% if author.city or author.country
\VAR{([author.city, author.country] | select | list | join(", ") | e)} \\
%% endif
%% if author.email
\VAR{author.email | e}%
%% else
~%
%% endif
}%
%% if not loop.last
\and
%% endif
%% endfor
}
%% else
\author{\IEEEauthorblockN{Author Unknown}}
%% endif

\maketitle

\begin{abstract}
\VAR{abstract | e}
\end{abstract}

%% if keywords
\begin{IEEEkeywords}
\VAR{keywords | map("e") | join(", ")}
\end{IEEEkeywords}
%% endif

%% for section in sections
%% if section.heading.lower() in ["acknowledgment", "acknowledgements"]
\section*{\VAR{section.heading | e}}
%% else
\section{\VAR{section.heading | e}}
%% endif
\VAR{section.body | paras}

%% for table in section.tables
\begin{table}[htbp]
\caption{\VAR{table.caption | e}}
\begin{center}
\resizebox{\columnwidth}{!}{%
%% if table.headers
\begin{tabular}{l\VAR{"r" * ([table.headers | length - 1, 0] | max)}}
\toprule
\VAR{table.headers | map("e") | join(" & ")} \\
\midrule
%% for row in table.rows
\VAR{row | map("e") | join(" & ")} \\
%% endfor
\bottomrule
\end{tabular}
%% else
\begin{tabular}{l}
\toprule
%% for row in table.rows
\VAR{row | map("e") | join(" & ")} \\
%% endfor
\bottomrule
\end{tabular}
%% endif
}
\end{center}
%% if table.notes
\footnotesize{\VAR{table.notes | e}}
%% endif
\end{table}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{00}
%% for ref in references
\bibitem{b\VAR{ref.index}} \VAR{ref.text | e}
%% endfor
\end{thebibliography}
%% endif

\end{document}
