\documentclass[conference]{IEEEtran}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\IEEEoverridecommandlockouts
\usepackage{cite}
\usepackage{amsmath,amssymb,amsfonts}
\usepackage{graphicx}
\usepackage{textcomp}
\usepackage{xcolor}
\usepackage{hyperref}

\begin{document}

\title{\VAR{title | e}}

%% if authors
\author{
%% for author in authors
  \IEEEauthorblockN{\VAR{author.name | e}}
  \IEEEauthorblockA{
%% if author.department
    \textit{\VAR{author.department | e}}\\
%% endif
%% if author.organization
    \VAR{author.organization | e}\\
%% endif
%% if author.city and author.country
    \VAR{author.city | e}, \VAR{author.country | e}\\
%% elif author.city
    \VAR{author.city | e}\\
%% elif author.country
    \VAR{author.country | e}\\
%% endif
%% if author.email
    \VAR{author.email | e}
%% endif
  }
%% if not loop.last
  \and
%% endif
%% endfor
}
%% endif

\maketitle

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
\end{abstract}
%% endif

%% if keywords
\begin{IEEEkeywords}
\VAR{keywords | join(', ') | e}
\end{IEEEkeywords}
%% endif

%% for section in sections
\section{\VAR{section.heading | e}}
\VAR{section.body | paras}

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% for figure in section.figures
\begin{figure}[htbp]
\centering
\includegraphics[width=\columnwidth]{\VAR{figure.image_path}}
%% if figure.caption
\caption{\VAR{figure.caption | e}}
%% endif
%% if figure.label
\label{\VAR{figure.label}}
%% endif
\end{figure}
%% endfor

%% endfor

%% if references
\begin{thebibliography}{99}
%% for ref in references
\bibitem{ref\VAR{ref.index}} \VAR{ref.text | e}
%% endfor
\end{thebibliography}
%% endif

\end{document}
