\documentclass[12pt,a4paper]{article}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage[margin=1in]{geometry}
\usepackage{times}
\usepackage{amsmath,amssymb}
\usepackage{graphicx}
\usepackage{setspace}
\usepackage{hyperref}
\doublespacing

\begin{document}

\begin{titlepage}
\centering
\vspace*{2cm}
{\LARGE \textbf{\VAR{title | e}}\par}
\vspace{1.5cm}
%% for author in authors
{\large \VAR{author.name | e}\par}
%% if author.department
{\normalsize \VAR{author.department | e}\par}
%% endif
%% if author.organization
{\normalsize \VAR{author.organization | e}\par}
%% endif
%% if author.city
{\normalsize \VAR{author.city | e}\par}
%% endif
%% if author.email
{\normalsize \texttt{\VAR{author.email | e}}\par}
%% endif
%% endfor
\vfill
\end{titlepage}

%% if abstract
\begin{abstract}
\VAR{abstract | paras}
%% if keywords
\textbf{Keywords:} \VAR{keywords | join(', ') | e}
%% endif
\end{abstract}
%% endif

%% for section in sections
\VAR{section.depth | section_cmd}{\VAR{section.heading | e}}
\VAR{section.body | paras}

%% for table in section.tables
\VAR{table | render_table}
%% endfor

%% for figure in section.figures
\begin{figure}[htbp]
\centering
\includegraphics[width=\columnwidth]{\VAR{figure.image_path}}
%% if figure.caption
\caption{\VAR{figure.caption | e}}
%% endif
%% if figure.label
\label{\VAR{figure.label}}
%% endif
\end{figure}
%% endfor

%% endfor

%% if references
\section*{References}
\begin{enumerate}
%% for ref in references
\item \VAR{ref.text | e}
%% endfor
\end{enumerate}
%% endif

\end{document}
